*.user
*.suo
*.swo
*.swp
*.config
*.DotSettings

bin/
obj/
packages/
.vs/
Src/QuestionStore.Core/bin/*
Src/QuestionStore.WebApp.MVC/bin/*
Src/QuestionStore.Domain/bin/*
Src/QuestionStore.WebApp.MVC/obj/*
Src/QuestionStore.Domain/obj/*
Src/QuestionStore.Core/obj/*