@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Projeto de Aplicação</p>
    <p>pratico da disciplina de jogos de empresa</p>

</div>

<css>

</css>

<script>

</script>