@{
    ViewData["Title"] = "Home Page";
}

<vc:carrinho></vc:carrinho>

<div class="text-center">
    <h1 class="display-4">Question_Store</h1>
    <p>Projeto de Aplicação</p>
    <p>projeto para aperfeiçoamento em tecnologia asp.net core</p>
    
</div>

