@model QuestionModel
@{
    ViewData["Title"] = "Cadastro de Participante";
}
<h3>
    @ViewData["Title"]
</h3>
<hr />
<form asp-action="FormularioContato" asp-anti-forgery="true" method="post">
    <div class="form-group">
        <label asp-for="NomeDoParticipante"></label>
        <input asp-for="NomeDoParticipante" class="form-control" placeholder="Informe o nome" />
    </div>
    <div class="form-group">
        <label asp-for="Idade"></label>
        <input asp-for="Idade" class="form-control" placeholder="Informe a idade" />
    </div>
    <input type="submit" value="Salvar Informação" class="btn btn-primary" />
</form>

